! __  __
! \ \/ /_ __ ___  ___  ___  _   _ _ __ ___ ___  ___
!  \  /| '__/ _ \/ __|/ _ \| | | | '__/ __/ _ \/ __|
!  /  \| | |  __/\__ \ (_) | |_| | | | (_|  __/\__ \
! /_/\_\_|  \___||___/\___/ \__,_|_|  \___\___||___/
!

!black
*color0: #111A1F
*color8: #666666
!red
*color1: #FF8f40
*color9: #D23D3D
!green
*color2: #8D7856
*color10: #19B596
!yellow
*color3: #9B9257
*color11: #EBCB88
!blue
*color4: #6998B3
*color12: #AACCBB
!magenta
*color5: #B7416E
*color13: #E16A98
!cyan
*color6: #42717B
*color14: #1A282f
!white
*color7: #C0C7Ca
*color15: #C0C7Ca
!other
*.alpha: 0.92
! SXIV COLORS
Sxiv.background: #111A1F
Sxiv.foreground: #9B9257
