! __  __
! \ \/ /_ __ ___  ___  ___  _   _ _ __ ___ ___  ___
!  \  /| '__/ _ \/ __|/ _ \| | | | '__/ __/ _ \/ __|
!  /  \| | |  __/\__ \ (_) | |_| | | | (_|  __/\__ \
! /_/\_\_|  \___||___/\___/ \__,_|_|  \___\___||___/
!
!

! X Resources: Generated with Hodler (http://github.com/matttproud/hodler)
!black
*color0: #111a1f
*color8: #868b8d
!red
*color1: #8d7856
*color9: #810002
!green
*color2: #798362
*color10: #037500
!yellow
*color3: #9b9257
*color11: #ebcb88
!blue
*color4: #63768a
*color12: #779988
!magenta
*color5: #b7416e
*color13: #738c9c
!cyan
*color6: #6998b3
*color14: #66aabb
!white
*color7: #c5c8c6
*color15: #c0c7ca
!other
*background: #111a1f
*foreground: #acb3b5
*cursorColor: #ebcb88
! See "highlightColorMode" and "hm" options in XTerm manual page.
*highlightTextColor: #2e333c
*highlightColor: #161f2a
! No support for cursor text coloring; would be #1e232b.
! No support for bold coloring; would be #626a73.

dmenu.background: #1b1d1b
dmenu.foreground: #447a6c
dmenu.color11: #7d4b23
dmenu.color0: #1b1d1b

!other
*.alpha: 0.80

Sxiv.background: #111A1F
Sxiv.foreground: #9B9257
