!black
*color0: #111A1F
*color8: #666666
!red
*color1: #FF8f40
*color9: #D23D3D
!green
*color2: #8D7856
*color10: #19B596
!yellow
*color3: #9B9257
*color11: #EBCB88
!blue
*color4: #6998B3
*color12: #AACCBB
!magenta
*color5: #B7416E
*color13: #E16A98
!cyan
*color6: #738C9C
*color14: #42717B
!white
*color7: #C0C7Ca
*color15: #C0C7Ca
!st terminal
st.alpha: 0.92
! SXIV COLORS
Sxiv.background: #111A1F
Sxiv.foreground: #9B9257
