/* Ideally, use this in conjunction with the "dwm TabsInTitlebar" firefox extenstion
 * https://addons.mozilla.org/en-US/firefox/addon/tabs-in-title/
 * https://github.com/edvardxyz/Tabs-in-title
 */
#TabsToolbar {
  visibility: collapse;
} /* leaves space for the window buttons */
#nav-bar {
  margin-top: -8px;
  margin-right: 74px;
  margin-bottom: -4px;
}
