/* Color scheme variables */
@define-color bg rgba(27, 29, 27, 0.78);     /* #1b1d1b */
@define-color fg rgba(27, 29, 27, 1);         /* #1b1d1b */
@define-color accent rgba(68, 122, 108, 1);   /* #447a6c */
@define-color focused rgba(125, 75, 35, 0.8);  /* #7d4b23 */

* {
  font-size: 20;
  padding: 0px;
  font-family: sans-serif;
}

window#waybar {
  background: @bg;
}

.modules-right {
  padding-right: 5px;
}

button {
  margin: -4px 0px;
  border: none;
  border-radius: 0;
}

button:hover {
  background: @accent;
  border-radius: 0;
  transition: none;
}

#tags {
  font-family: sans-serif;
}

#tags button:not(.occupied):not(.focused) {
  font-size: 0;
  min-width: 0;
  min-height: 0;
  margin: -17px;
  padding: 0;
  border: 0;
  opacity: 0;
  box-shadow: none;
  background-color: transparent;
}

#tags button.occupied {
  color: @accent;
}

#tags button.focused {
  background-color: @focused;
  color: @fg;
}

#window {
  padding-left: 5px;
  margin-left: 5px;
  background-color: @focused;
  color: @fg;
}

#layout {
  padding-right: 5px;
  margin-right: 5px;
  background-color: @focused;
  color: @fg;
}

#custom-dotfiles,
#custom-mail,
#custom-layout,
#custom-date,
#custom-time,
#custom-network,
#custom-battery {
  padding-right: 12px;
  padding-left: 5px;
  color: @accent;
}

#custom-dotfiles:hover,
#custom-mail:hover,
#custom-layout:hover,
#custom-date:hover,
#custom-time:hover,
#custom-network:hover,
#custom-battery:hover {
  background: @focused;
  color: @fg;
}
