snippet sig-en "English email signature"
-Benjamin Chausse

-----------------
~Website: chausse.xyz
~GPG Key: chausse.xyz/library/chaussebenjamin.asc
~Signal:  (+1)-438-395-4349
-----------------
endsnippet

snippet sig-fr "Signature de courriel en français"
-Benjamin Chausse

-----------------
~Site web: chausse.xyz
~Clé gpg:  chausse.xyz/library/chaussebenjamin.asc
~Signal:   (+1)-438-395-4349
-----------------
endsnippet

